<div>
    <Header />
    <div class="declaration-container">
        <div class="declaration-overview">
            <img class="sogeti-logo" src="@/assets/svg/sogeti_logo.svg" alt="Sogeti logo" />
            <div class="declaration-overview-section">
                <div class="declaration-overview-header">
                    Declaration type
                </div>
                <div class="declaration-overview-value">
                    Food
                </div>
                <div class="declaration-overview-header">
                    Declaration number
                </div>
                <div class="declaration-overview-value">
                    213981
                </div>
                <div class="declaration-overview-header">
                    Sent
                </div>
                <div class="declaration-overview-value">
                    4-November-2019
                </div>
            </div>
            <div class="declaration-overview-section">
                <div class="declaration-overview-header">
                    Employee number
                </div>
                <div class="declaration-overview-value">
                    39419
                </div>
                <div class="declaration-overview-header">
                    Name
                </div>
                <div class="declaration-overview-value">
                    Tugay Uzinli
                </div>
                <div class="declaration-overview-header">
                    Bank account
                </div>
                <div class="declaration-overview-value">
                    24NLING309410219
                </div>
                <div class="declaration-overview-header">
                    Cost
                </div>
                <div class="declaration-overview-value">
                    87 EUR
                </div>
            </div>
            <div class="declaration-overview-section">
                <div class="declaration-overview-header">
                    Note
                </div>
                <div class="declaration-overview-value">
                    Diner, that's all
                </div>
            </div>
            <div class="declaration-overview-buttons">
                <button
                    class="btn-flat-primary"
                    @click="returnToChatStep(21)">Send</button>
                <button
                    class="btn-flat-cancel"
                    @click="returnToChatStep(2)">Cancel</button>
            </div>
        </div>
    </div>
</div> 