.menu-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 44px;
  background-color: rgba(0, 112, 173, 0.97);
}

.hamburger {
  position: absolute;
  right: 15px;
  top: 14px;
  -webkit-touch-callout: none;
}

.hamburger input:checked ~ .hamburger-lines span {
  background-color: #fff;
}

.hamburger input:checked ~ .hamburger-lines span:first-child {
  opacity: 1;
  transform: rotate(45deg) translateX(4px) translateY(6px);
}

.hamburger input:checked ~ .hamburger-lines span:nth-child(2) {
  opacity: 0;
}

.hamburger input:checked ~ .hamburger-lines span:nth-child(3) {
  opacity: 1;
  transform: rotate(-45deg) translateY(-6px) translateX(4px);
}

.hamburger input {
  z-index: 2;
  display: block;
  position: absolute;
  width: 3rem;
  height: 2.2rem;
  right: 0.1rem;
  top: 0.5rem;
  opacity: 0;
  cursor: pointer;
}

.hamburger-lines {
  z-index: 1;
  right: 16px;
  top: 14px;
}

.hamburger-lines span {
  display: block;
  position: relative;
  width: 20px;
  height: 2px;
  margin-bottom: 5px;
  background-color: #fff;
  transition-duration: 0.2s;
}

.hamburger-lines span:nth-child(2) {
  opacity: 1;
  width: 16px;
}

.menu-navigation {
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  margin-top: 44px;
  background-color: rgba(0, 112, 173, 0.97);
}

.menu-navigation ul {
  list-style-type: none;
  font-size: 24px;
  padding: 16px;
}

.menu-navigation li {
  text-align: left;
  color: #fff;
  margin-bottom: 16px;
}
