<div class="login">
  <img src="@/assets/images/login_top_visual.png" />
  <div class="login-container">
    <section class="login-section">
      <div v-if="!promptPassword">
        <h1>What is your username?</h1>
        <input type="text" v-model="username" v-on:keyup.enter.stop="next()" placeholder="Type in your username" />
      </div>
      <div v-if="promptPassword">
        <h1>Fill in your password</h1>
        <input type="password" v-model="password" v-on:keyup.enter.stop="login()" placeholder="Type in your password" />
      </div>
    </section>
    <footer class="login-footer">
      <div v-if="!promptPassword">
        <button class="btn-flat" v-if="!username.length" disabled>Next</button>
        <button class="btn-flat-secondary" v-if="username.length" @click="next()">
          Next
        </button>
      </div>
      <div v-if="promptPassword">
        <button class="btn-flat" v-if="!password.length" disabled>Login</button>
        <button class="btn-flat-secondary" v-if="password.length" @click="login()">
          Login
        </button>
      </div>
      <p>CAN'T LOG IN</p>
    </footer>
  </div>
</div>
